@import "https://fonts.googleapis.com/css?family=Poppins";
@import "https://fonts.googleapis.com/css?family=Nunito";
nav, a, p {
   font-family: 'Poppins'; 'sans-serif';
}
header {
   background: url("http://publicdomainvectors.org/photos/Mercator-Mountain1.png");
   background-size: 750px 250px;
   background-repeat: no-repeat;
   text-align: left;
   padding: 0 0 0 10%;
}
h1 {
   color: hsl(180, 87%, 50%);
   font-family: 'Nunito'; 'sans-serif';
}
nav {
   background-color: hsl(180, 87%, 50%);
   font-family: 'Poppins';
   color: white;
   width: '25%';
}
a {
   color: hsl(180, 87%, 20%);
}
