@import "https://fonts.googleapis.com/css?family=Poppins";
@import "https://fonts.googleapis.com/css?family=Nunito";
nav, a, p {
   font-family: 'Poppins'; 'sans-serif';
}
header {
   background-image: url("http://publicdomainvectors.org/photos/Mercator-Mountain1.png");
   background-size: 500px 250px;
   background-repeat: "no-repeat";
   height: "250px";
   padding: 20px 0 70px 0;
   text-align: left;
}
h1 {
   color: hsl(180, 87%, 50%);
   font-family: 'Nunito'; 'sans-serif';
}
nav {
   background-color: hsl(180, 87%, 50%);
   font-family: 'Poppins';
   color: white;
   width: '25%';
}
a {
   color: hsl(180, 87%, 20%);
}
